/**
 * Adapted from Parallax Scrolling Tutorial by Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */

body {
	font-family: 'Futura', 'Helvetica', 'Arial', sans-serif;
}

h2 { 
	color: #fff; 
	font-family: 'Futura'; 
	font-size: 18pt; 
	margin: 0px 0 0 0; 
	line-height: 1em; 
}

h2 a {
	text-decoration: none;	
	font-size: 8pt;
}

#container {
	background: url(../images/skyline_transparent.jpg) 50% 0 no-repeat fixed;
	background-color: #000;
	background-size: 100%;
	/*background: url(../images/wavegrid.png) 50% 0 repeat fixed;*/
	min-height: 4800px;
	min-width: 1000px;
	padding: 15px 0 0 0;
}

#container article {
	background: url(../images/grain_transparent.png) repeat;
	color: #fff; 

	margin: 0 20px 0 0; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5); 
	line-height: 1.5em; 
	color: #fff; 
	position: relative; 
	float: right;
	/*top: 0; box-shadow: 0 0 25px rgba(0,0,0,0.3); 
	border: 1px solid rgba(150,150,150,0.1);
	*/

	/* Added styles */
	/*height: 3200px;*/
	width: 500px;
	height: 100%;
	z-index: 3;
}

article .fact {
	/*
	position: absolute;
	bottom: 0px;
	*/
	position: relative;
	padding: 15px 15px 0 15px;
	width: 470px;
	border: solid 1px;
}

#intro {
	position: relative;
	top: 0px;
	/*border: solid 1px;*/
	width: 100%;
}

.story { 
	height: 1000px; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
	/*border: solid 1px;*/
	/*
	border-top: 1px solid rgba(255,255,255,0.3); 
	border-bottom: 1px solid rgba(0,0,0,0.4); 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	*/
	min-height: 800px;
}

#container .left-side {
	/*background: url(../images/photo.png) transparent 40% 100px no-repeat fixed; */
	/*min-height: 1000px; */
	padding: 0; 
	margin: 0; 
	width: 100%; 
	max-width: 1920px; 
	position: absolute; 
	margin: 0 auto; 

	/* Added styles */
	min-height: 4800px;
	height: 100%;
	text-shadow: 1px 1px 0px #000;
}

#container .left-side h1 {
	position: fixed;
	font-family: 'Futura', 'Arial', 'sans-serif';
	font-size: 36pt;
	color: #fff;
}

#container article h3 { 
	font-style: italic;
}

#container article .caption { 
	font-style: normal;
	margin: 0 0 20px 0;
}

#container .emphasis {
	color: #49B20B;
	margin-bottom: 20px;
}

/*
 * SVG styles
*/
svg {
	border: solid 1px;
	background-color: #DAE7E7;
	fill: #DAE7E7;
}

svg .Staten-Island-water {
	fill: #DAE7E7;
}
svg .Staten-Island-land {
	fill: #ddc;
}

svg .Queens-water {
	fill: #DAE7E7;
}
svg .Queens-land {
	fill: #A9C6C6;
}

svg .Brooklyn-water {
	fill: #DAE7E7;
}
svg .Brooklyn-land {
	fill: #cdc;
}

svg .Manhattan-water {
	fill: #DAE7E7;
}
svg .Manhattan-land {
	fill: #dcd;
}

svg .Bronx-water {
	fill: #DAE7E7;
}
svg .Bronx-land {
	fill: #ccd;
}

svg .New-York {
	fill: #D1D1D1;	
}
svg .New-Jersey {
	fill: #D1D1D1;	
}
svg .Connecticut {
	fill: #D1D1D1;	
}
